/* ======= VARIAVEIS CSS ======== */

:root {
    /* Cores */
    --primary-color: #4CAF50;
    --primary-hover: #1d4ed8;
    --sucess-color: #16a34a;
    --danger-color: #dc2626;
    --warning-color: #d97706;

    /* Tons de cinza */
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-600: #4b5563;;
    --gray-700: #374151;        
    --gray-800: #1f2937;
    --gray-900: #111827;   

    /* Tipografia */
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 1.5rem;


    /* Espaçamentos */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;


    /* Bordas */
    --border-radius: 0.5rem;
    --border-width: 1px;

    /* Sombras */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0, 0.1);

    /* Transições */
    --transition-fast: 150ms ease-in-out;
    --transition-normal: 250ms ease-in-out;
}

    /* ===== RESET E BASE ===== */