/* ======= VARIAVEIS CSS ======== */

:root {
    /* Cores */
    --primary-color: #4CAF50;
    --primary-hover: #1d4ed8;
    --sucess-color: #16a34a;
    --danger-color: #dc2626;
    --warning-color: #d97706;

    /* Tons de cinza */
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-600: #4b5563;;
    --gray-700: #374151;        
    --gray-800: #1f2937;
    --gray-900: #111827;   
}